## HW6 Key

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np

### 1.[`10 pts`] Web-scrape all table data from the following [webpage](http://vincentarelbundock.github.io/Rdatasets/datasets.html) and build a pd.DataFrame object. Limit your final table to include columns for "Package", "Item", "Title", "Rows", and "Cols". Print the dimensions and first five rows of the table.

In [17]:
# Send a GET request to the website and retrieve the HTML content
url = "https://vincentarelbundock.github.io/Rdatasets/datasets.html"
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the first table in the HTML content
table = soup.find_all('table')[0]

# Read the table into a pandas DataFrame
df = pd.read_html(str(table))[0]

# Select required columns
df_col = df[["Package", "Item", "Title", "Rows", "Cols"]]

print(df_col.shape)

C:\Users\nicho\AppData\Local\Temp\ipykernel_12116\1746561962.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

(2537, 5)

In [18]:
# Glance at first and last 5 rows
df_col

,Package,Item,Title,Rows,Cols
0,AER,Affairs,Fair's Extramarital Affairs Data,601.0,9.0
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80.0,2.0
2,AER,BankWages,Bank Wages,474.0,4.0
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31.0,5.0
4,AER,BondYield,Bond Yield Data,60.0,2.0
...,...,...,...,...,...
2532,wooldridge,wage2,wage2,935.0,17.0
2533,wooldridge,wagepan,wagepan,4360.0,44.0
2534,wooldridge,wageprc,wageprc,286.0,20.0
2535,wooldridge,wine,wine,21.0,5.0
2536,Package Item Title Rows Cols n_binary n_charac...,NaN,NaN,NaN,NaN

In [19]:
# If you looked at the last row (which the question didn't ask you to do), you should notice that the last row
# is bad data! We need to drop it. The final answer should be a df which is 2536 x 5 like below
df_col.drop(df_col.tail(1).index,inplace=True) 
df_col

C:\Users\nicho\AppData\Local\Temp\ipykernel_12116\3215702510.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col.drop(df_col.tail(1).index,inplace=True)

,Package,Item,Title,Rows,Cols
0,AER,Affairs,Fair's Extramarital Affairs Data,601.0,9.0
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80.0,2.0
2,AER,BankWages,Bank Wages,474.0,4.0
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31.0,5.0
4,AER,BondYield,Bond Yield Data,60.0,2.0
...,...,...,...,...,...
2531,wooldridge,wage1,wage1,526.0,24.0
2532,wooldridge,wage2,wage2,935.0,17.0
2533,wooldridge,wagepan,wagepan,4360.0,44.0
2534,wooldridge,wageprc,wageprc,286.0,20.0
2535,wooldridge,wine,wine,21.0,5.0

### 2.[`10 pts`] Web-scrape the full links to every CSV file listed in the CSV column of the web-page. Add a new column to your data frame that includes these links. Name the column "`csv_links`". Print the first five rows of the table.

In [21]:
# define a function to extract html document from given url
def getHTMLdocument(url):
    # request for HTML document of given url
    response = requests.get(url)
    # response will be provided in JSON format
    return response.text

# create document
html_document = getHTMLdocument(url)
  
# create soup object
soup = BeautifulSoup(html_document, 'html.parser')

csv_list = []
for link in soup.find_all('a', attrs={'href': re.compile("^https://")}):
    href = link.get('href')
    
    if href.endswith('.csv'):
        csv_list.append(href)

In [44]:
df_col['csv_links'] = pd.Series(csv_list)
df_col

C:\Users\nicho\AppData\Local\Temp\ipykernel_12116\2158081257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col['csv_links'] = pd.Series(csv_list)

,Package,Item,Title,Rows,Cols,csv_links
0,AER,Affairs,Fair's Extramarital Affairs Data,601.0,9.0,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80.0,2.0,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474.0,4.0,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31.0,5.0,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60.0,2.0,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...
2531,wooldridge,wage1,wage1,526.0,24.0,https://vincentarelbundock.github.io/Rdatasets...
2532,wooldridge,wage2,wage2,935.0,17.0,https://vincentarelbundock.github.io/Rdatasets...
2533,wooldridge,wagepan,wagepan,4360.0,44.0,https://vincentarelbundock.github.io/Rdatasets...
2534,wooldridge,wageprc,wageprc,286.0,20.0,https://vincentarelbundock.github.io/Rdatasets...
2535,wooldridge,wine,wine,21.0,5.0,https://vincentarelbundock.github.io/Rdatasets...

### 3.[`5 pts`] Search the "Title" column to return the row of data with the title "Violent Crime Rates by US State".

In [46]:
# We'll use the index function here, but there are many different functions that could work. 
# Including a user defined function !
df_col.index[df_col['Title'].str.contains("Violent Crime Rates by US State")]

Index([543], dtype='int64')

In [50]:
df_title = pd.DataFrame(df_col.loc[543, :]).transpose()
df_title

,Package,Item,Title,Rows,Cols,csv_links
543,datasets,USArrests,Violent Crime Rates by US State,50.0,4.0,https://vincentarelbundock.github.io/Rdatasets...

### 4.[`10 pts`] Import the csv file for the dataset identified in #3 using the full link listed in the "`csv_links`" column for this dataset. Create a new variable called "`violent_crime`" that adds together data for all columns in the dataset that contain violent crime data (i.e.-add data from assault, murder, and rape columns together in new column called "`violent_crime`").

In [57]:
csv_link = df_title['csv_links'].item()  # Use the item method to return value(s), rather than pd object
csv_link

'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/USArrests.csv'

In [59]:
df_voi = pd.read_csv(csv_link)

# Create the new variable and rename rownames to state.name
df_voi['violent_crime'] = df_voi['Assault'] + df_voi['Murder'] + df_voi['Rape']
df_voi.rename(columns={'rownames': 'state.name'}, inplace=True)

df_voi

        state.name  Murder  Assault  UrbanPop  Rape  violent_crime
0          Alabama    13.2      236        58  21.2          270.4
1           Alaska    10.0      263        48  44.5          317.5
2          Arizona     8.1      294        80  31.0          333.1
3         Arkansas     8.8      190        50  19.5          218.3
4       California     9.0      276        91  40.6          325.6
5         Colorado     7.9      204        78  38.7          250.6
6      Connecticut     3.3      110        77  11.1          124.4
7         Delaware     5.9      238        72  15.8          259.7
8          Florida    15.4      335        80  31.9          382.3
9          Georgia    17.4      211        60  25.8          254.2
10          Hawaii     5.3       46        83  20.2           71.5
11           Idaho     2.6      120        54  14.2          136.8
12        Illinois    10.4      249        83  24.0          283.4
13         Indiana     7.2      113        65  21.0          141.2
14            Iowa     2.2       56        57  11.3           69.5
15          Kansas     6.0      115        66  18.0          139.0
16        Kentucky     9.7      109        52  16.3          135.0
17       Louisiana    15.4      249        66  22.2          286.6
18           Maine     2.1       83        51   7.8           92.9
19        Maryland    11.3      300        67  27.8          339.1
20   Massachusetts     4.4      149        85  16.3          169.7
21        Michigan    12.1      255        74  35.1          302.2
22       Minnesota     2.7       72        66  14.9           89.6
23     Mississippi    16.1      259        44  17.1          292.2
24        Missouri     9.0      178        70  28.2          215.2
25         Montana     6.0      109        53  16.4          131.4
26        Nebraska     4.3      102        62  16.5          122.8
27          Nevada    12.2      252        81  46.0          310.2
28   New Hampshire     2.1       57        56   9.5           68.6
29      New Jersey     7.4      159        89  18.8          185.2
30      New Mexico    11.4      285        70  32.1          328.5
31        New York    11.1      254        86  26.1          291.2
32  North Carolina    13.0      337        45  16.1          366.1
33    North Dakota     0.8       45        44   7.3           53.1
34            Ohio     7.3      120        75  21.4          148.7
35        Oklahoma     6.6      151        68  20.0          177.6
36          Oregon     4.9      159        67  29.3          193.2
37    Pennsylvania     6.3      106        72  14.9          127.2
38    Rhode Island     3.4      174        87   8.3          185.7
39  South Carolina    14.4      279        48  22.5          315.9
40    South Dakota     3.8       86        45  12.8          102.6
41       Tennessee    13.2      188        59  26.9          228.1
42           Texas    12.7      201        80  25.5          239.2
43            Utah     3.2      120        80  22.9          146.1
44         Vermont     2.2       48        32  11.2           61.4
45        Virginia     8.5      156        63  20.7          185.2
46      Washington     4.0      145        73  26.2          175.2
47   West Virginia     5.7       81        39   9.3           96.0
48       Wisconsin     2.6       53        66  10.8           66.4
49         Wyoming     6.8      161        60  15.6          183.4

### 5.[`10 pts`] Merge all the data from the `states.csv` data set (found in the data folder of this HW6 directory) with your dataset to your Violent Crime Rates data frame. Print the first five lines of your new dataset.

In [63]:
path = r'C:\Users\nicho\OneDrive\Desktop\MDS\QMSS-GR5072-Spring2025-HWs\homework-6-main\Data'
df_states = pd.read_csv(path + '\\states.csv')
df_states.head()

,state.name,state.abb,state.area,state.division,state.name.1,state.region,Population,Income,Illiteracy,Life.Exp,Murder,HS.Grad,Frost,Area
0,Alabama,AL,51609,4,Alabama,2,3615,3624,2.1,69.05,15.1,41.3,20,50708
1,Alaska,AK,589757,9,Alaska,4,365,6315,1.5,69.31,11.3,66.7,152,566432
2,Arizona,AZ,113909,8,Arizona,4,2212,4530,1.8,70.55,7.8,58.1,15,113417
3,Arkansas,AR,53104,5,Arkansas,2,2110,3378,1.9,70.66,10.1,39.9,65,51945
4,California,CA,158693,9,California,4,21198,5114,1.1,71.71,10.3,62.6,20,156361

In [65]:
# Merge two datasets based on state.name
df_merged = pd.merge(df_voi, df_states, on='state.name')
df_merged.head(5)

,state.name,Murder_x,Assault,UrbanPop,Rape,violent_crime,state.abb,state.area,state.division,state.name.1,state.region,Population,Income,Illiteracy,Life.Exp,Murder_y,HS.Grad,Frost,Area
0,Alabama,13.2,236,58,21.2,270.4,AL,51609,4,Alabama,2,3615,3624,2.1,69.05,15.1,41.3,20,50708
1,Alaska,10.0,263,48,44.5,317.5,AK,589757,9,Alaska,4,365,6315,1.5,69.31,11.3,66.7,152,566432
2,Arizona,8.1,294,80,31.0,333.1,AZ,113909,8,Arizona,4,2212,4530,1.8,70.55,7.8,58.1,15,113417
3,Arkansas,8.8,190,50,19.5,218.3,AR,53104,5,Arkansas,2,2110,3378,1.9,70.66,10.1,39.9,65,51945
4,California,9.0,276,91,40.6,325.6,CA,158693,9,California,4,21198,5114,1.1,71.71,10.3,62.6,20,156361

### 6.[`5 pts`] Calculate the average for each numeric column in the dataset.

In [68]:
# Select numeric column
df_num = df_merged.select_dtypes(include=np.number)
df_num.head(10)

,Murder_x,Assault,UrbanPop,Rape,violent_crime,state.area,state.division,state.region,Population,Income,Illiteracy,Life.Exp,Murder_y,HS.Grad,Frost,Area
0,13.2,236,58,21.2,270.4,51609,4,2,3615,3624,2.1,69.05,15.1,41.3,20,50708
1,10.0,263,48,44.5,317.5,589757,9,4,365,6315,1.5,69.31,11.3,66.7,152,566432
2,8.1,294,80,31.0,333.1,113909,8,4,2212,4530,1.8,70.55,7.8,58.1,15,113417
3,8.8,190,50,19.5,218.3,53104,5,2,2110,3378,1.9,70.66,10.1,39.9,65,51945
4,9.0,276,91,40.6,325.6,158693,9,4,21198,5114,1.1,71.71,10.3,62.6,20,156361
5,7.9,204,78,38.7,250.6,104247,8,4,2541,4884,0.7,72.06,6.8,63.9,166,103766
6,3.3,110,77,11.1,124.4,5009,1,1,3100,5348,1.1,72.48,3.1,56.0,139,4862
7,5.9,238,72,15.8,259.7,2057,3,2,579,4809,0.9,70.06,6.2,54.6,103,1982
8,15.4,335,80,31.9,382.3,58560,3,2,8277,4815,1.3,70.66,10.7,52.6,11,54090
9,17.4,211,60,25.8,254.2,58876,3,2,4931,4091,2.0,68.54,13.9,40.6,60,58073

In [70]:
# Calculate the mean
df_num_mean = df_num.mean()
df_num_mean

Murder_x              7.7880
Assault             170.7600
UrbanPop             65.5400
Rape                 21.2320
violent_crime       199.7800
state.area        72367.9800
state.division        5.2000
state.region          2.5800
Population         4246.4200
Income             4435.8000
Illiteracy            1.1700
Life.Exp             70.8786
Murder_y              7.3780
HS.Grad              53.1080
Frost               104.4600
Area              70735.8800
dtype: float64

In [72]:
df_num_mean.head(10)

Murder_x              7.788
Assault             170.760
UrbanPop             65.540
Rape                 21.232
violent_crime       199.780
state.area        72367.980
state.division        5.200
state.region          2.580
Population         4246.420
Income             4435.800
dtype: float64

### 7.[`10 pts`] Group the data by region and then calculate the average for each numeric column in the dataset per region. Which region had the highest population (data is from the late 1970s)? Which region had the most violent crime?

In [75]:
# Group by region and calculate average
df_region = df_num.groupby(['state.region']).mean()
df_region

,Murder_x,Assault,UrbanPop,Rape,violent_crime,state.area,state.division,Population,Income,Illiteracy,Life.Exp,Murder_y,HS.Grad,Frost,Area
state.region,,,,,,,,,,,,,,,
1,4.700000,126.666667,70.555556,13.777778,145.144444,18817.000000,1.333333,5495.111111,4570.222222,1.000000,71.264444,4.722222,53.966667,132.777778,18141.000
2,11.706250,220.000000,59.437500,21.162500,252.868750,56222.250000,3.750000,4208.125000,4011.937500,1.737500,69.706250,10.581250,44.343750,64.625000,54605.125
3,5.700000,120.333333,64.416667,18.441667,144.475000,63794.166667,6.583333,4803.000000,4611.083333,0.700000,71.766667,5.275000,54.516667,138.833333,62652.000
4,7.030769,187.230769,70.615385,29.053846,223.315385,137227.692308,8.384615,2915.307692,4702.615385,1.023077,71.234615,7.215385,62.000000,102.153846,134463.000

In [77]:
df_region.sort_values("Population",ascending=False).head(1)

,Murder_x,Assault,UrbanPop,Rape,violent_crime,state.area,state.division,Population,Income,Illiteracy,Life.Exp,Murder_y,HS.Grad,Frost,Area
state.region,,,,,,,,,,,,,,,
1,4.7,126.666667,70.555556,13.777778,145.144444,18817.0,1.333333,5495.111111,4570.222222,1.0,71.264444,4.722222,53.966667,132.777778,18141.0

In [79]:
df_region.sort_values("violent_crime",ascending=False).head(1)

,Murder_x,Assault,UrbanPop,Rape,violent_crime,state.area,state.division,Population,Income,Illiteracy,Life.Exp,Murder_y,HS.Grad,Frost,Area
state.region,,,,,,,,,,,,,,,
2,11.70625,220.0,59.4375,21.1625,252.86875,56222.25,3.75,4208.125,4011.9375,1.7375,69.70625,10.58125,44.34375,64.625,54605.125

### 8.[`5 pts`] What SQL statement would you write to return two columns denoting income and Illiteracy in your state data?

SELECT Income, Illiteracy

FROM df_states;

### 9.[`10 pts`] What SQL statement would you write to return two columns denoting income and Illiteracy in your state data and sort the data from the highest to lowest income values and limit the data to incomes at or higher than 5000?

SELECT Income, Illiteracy

FROM df_states

WHERE Income >= 5000

ORDER BY Income DESC;

### 10.[`10 pts`] Create a new data frame that includes two columns from your state data denoting state names and violent crimes. Spread the state names to 50 unique columns with a single row that includes the violent crime data per state. Print the first five columns of the new dataset.

In [86]:
df_state_violent=df_merged[["state.name","violent_crime"]]
df_wide=df_state_violent.reset_index().pivot_table(index=None, columns='state.name', values='violent_crime')
print(df_wide.iloc[:, :5])

state.name     Alabama  Alaska  Arizona  Arkansas  California
violent_crime    270.4   317.5    333.1     218.3       325.6

### 11.[`10 pts`] Take the dataset from question 10 and return a dictionary with each key denoting a state and each value indicating the square root of the value for violent crimes.

In [89]:
# Apply the sqrt function to the violent_crime row to create a new row with the square root values
df_wide.loc['sqrt_violent_crime'] = df_wide.loc['violent_crime'].apply(np.sqrt)

# Convert to a dictionary
result_dict = df_wide.loc['sqrt_violent_crime'].to_dict()

print(result_dict)

{'Alabama': 16.443843832875572, 'Alaska': 17.81852968120546, 'Arizona': 18.251027368342857, 'Arkansas': 14.774978849392646, 'California': 18.04438970982394, 'Colorado': 15.830350596243914, 'Connecticut': 11.153474794878948, 'Delaware': 16.11521020650987, 'Florida': 19.552493447128423, 'Georgia': 15.943650773897426, 'Hawaii': 8.455767262643882, 'Idaho': 11.696153213770756, 'Illinois': 16.834488409215172, 'Indiana': 11.882760622010357, 'Iowa': 8.336666000266533, 'Kansas': 11.789826122551595, 'Kentucky': 11.61895003862225, 'Louisiana': 16.929264603047585, 'Maine': 9.638464608017191, 'Maryland': 18.414668066516974, 'Massachusetts': 13.026895255585654, 'Michigan': 17.383900597967074, 'Minnesota': 9.465727652959385, 'Mississippi': 17.093858546273278, 'Missouri': 14.669696656713798, 'Montana': 11.46298390472568, 'Nebraska': 11.081516141756055, 'Nevada': 17.61249556422939, 'New Hampshire': 8.282511696339462, 'New Jersey': 13.608820668963201, 'New Mexico': 18.12456896039186, 'New York': 17.064583206161235, 'North Carolina': 19.133739833080202, 'North Dakota': 7.286974680894671, 'Ohio': 12.19426094521517, 'Oklahoma': 13.326664999166145, 'Oregon': 13.899640283115243, 'Pennsylvania': 11.278297743897348, 'Rhode Island': 13.627178724886528, 'South Carolina': 17.77357589231835, 'South Dakota': 10.12916580968048, 'Tennessee': 15.102979838429237, 'Texas': 15.466091943344964, 'Utah': 12.087183294713455, 'Vermont': 7.8358152096638936, 'Virginia': 13.6088206689632, 'Washington': 13.236313686219438, 'West Virginia': 9.797958971132712, 'Wisconsin': 8.148619514985345, 'Wyoming': 13.542525613784159}

### 12.[`5 pts`] Subset the list you created in question 12 to extract values for Texas and New York.

In [92]:
# Subset Texas and New York
result_tx_ny = {'Texas': result_dict['Texas'], 'New York': result_dict['New York']}

print(result_tx_ny)

{'Texas': 15.466091943344964, 'New York': 17.064583206161235}