### HW3 - Answer Key
#### *For each question, there may be several approaches. This answer key only serves to provide one of the many solutions.*

### 1. Import and clean data</a>

##### 1. Write a function that takes a single numerical variable and returns three values, the minimum number, the median, and the maximum number of the vector. Test your function using the month column of the flights data set. <a class="anchor" id="bullet1"></a>

In [3]:
import numpy as np 
import pandas as pd  
import scipy.stats as stats
#from scipy.stats import t

In [7]:
path = r"C:\Users\nicho\OneDrive\Desktop\MDS\QMSS-GR5072-Spring2025-HWs\homework-3-main\Data"
data = pd.read_csv(path + r'\nycflights.csv')
data

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [9]:
def get_min_median_max(var):
    return np.min(var), np.median(var), np.max(var)  # returning data as a tuple !

# Test function on the 'month' variable
get_min_median_max(data['month'])

(1, 7.0, 12)

##### 2. Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet2"></a>

This function name I chose (`get_min_median_max()`) uses a verb get with the nouns min, median, max so that it is very clear this function will compute and return those descriptive statistics. Python will auto-complete the function name, so having a long function name is preferable to having a short and ambiguous name.

##### 3. Write a function that categorizes a numerical variable in the flights data into four categories. <a class="anchor" id="bullet3"></a>

The function should have two arguments. The first should represent the data object and the second should represent a column name in the data object.

The function should return one new column which categorizes the `dep_time` column into four categories in the following manner.  For any particular variable in the flights data that represents military time (i.e.-0 to 2400 where 1200 represents 12 in the afternoon and 2400 represents midnight), the function should classify values into four categories:


* "Morning" for values from 5 am to 11:59 am
* "Afternoon" for values from 12 pm to 4:59 pm 
* "Evening" for values from 5 pm to 8:59 pm
* "Night" for values from 9 pm to 4:59 am

In [12]:
def categorize_time_of_day(df, column):
    category = df[[column]]
    
    # Create categorical variable using pd.cut function from the pandas library
    df['Time'] = pd.cut(x = df[column], bins=[0, 499, 1199, 1699, 2099, 2400], 
                     labels=['Night', 'Morning','Afternoon', 'Evening', 'Night2'])  # cut() function does not allow same categories, so use Night2 for now
    
    # Recode "Night2" ==> "Night"
    df['Time'] = np.where( df['Time'] == "Night2", "Night", df['Time'])

    return df

In [14]:
categorize_time_of_day(data, 'dep_time') # Call function to see result
data['Time'].value_counts()    # See output

Time
Morning      129539
Afternoon     98617
Evening       79793
Night         20572
Name: count, dtype: int64

In [28]:
# Cross-tabulate Time col with dep_time to check answer
pd.crosstab(index=data['dep_time'], columns=data['Time'], margins=True) # Add margins! Great but we can't see all the data ...

Time      Afternoon  Evening  Morning  Night     All
dep_time
1.0               0        0        0     25      25
2.0               0        0        0     35      35
3.0               0        0        0     26      26
4.0               0        0        0     26      26
5.0               0        0        0     21      21
...             ...      ...      ...    ...     ...
2357.0            0        0        0     74      74
2358.0            0        0        0     76      76
2359.0            0        0        0     55      55
2400.0            0        0        0     29      29
All           98617    79793   129539  20572  328521

[1319 rows x 5 columns]

In [30]:
data[['dep_time', 'Time']].groupby('Time').head()  # Check first 5 obs of different Time categories. Looks good!

     dep_time       Time
0       517.0    Morning
1       533.0    Morning
2       542.0    Morning
3       544.0    Morning
4       554.0    Morning
305    1200.0  Afternoon
306    1202.0  Afternoon
307    1202.0  Afternoon
308    1203.0  Afternoon
309    1203.0  Afternoon
577    1701.0    Evening
578    1701.0    Evening
579    1702.0    Evening
580    1705.0    Evening
581    1705.0    Evening
792    2100.0      Night
793    2101.0      Night
794    2102.0      Night
795    2103.0      Night
796    2107.0      Night

In [32]:
# Check data another way 
data[['dep_time', 'Time']].groupby('Time').describe().loc[:,(slice(None), ['min', 'max'])]

          dep_time
               min     max
Time
Afternoon   1200.0  1659.0
Evening     1700.0  2059.0
Morning      500.0  1159.0
Night          1.0  2400.0

##### 4. Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet4"></a>

The function `categorize_time_of_day()` starts with a verb and provides a clear hint about what this function generally does!

##### 5. Write a function that calculates the median of all numeric variables in the flights dataset. <a class="anchor" id="bullet5"></a>

In [36]:
# We will use the select_dtypes() method to filter down to numeric vars only
def get_medians(data):
    numeric = data.select_dtypes(include=np.number)
    median = numeric.median()
    return pd.DataFrame(median)

In [38]:
get_medians(data)

                       0
Unnamed: 0      168388.5
year              2013.0
month                7.0
day                 16.0
dep_time          1401.0
sched_dep_time    1359.0
dep_delay           -2.0
arr_time          1535.0
sched_arr_time    1556.0
arr_delay           -5.0
flight            1496.0
air_time           129.0
distance           872.0
hour                13.0
minute              29.0

##### 6. Explain your reasoning for choosing your function's name in the previous question. <a class="anchor" id="bullet6"></a>

The name `get_medians()` is short, concise, leads with a verb and is not ambiguous in any way.

##### 7. Modify the function t_test() from the week 6 activities so that this function can handle violations to the homogeneity of variance (HOV) assumption. <a class="anchor" id="bullet7"></a>

In [43]:
def t_test(num_var, bin_var):  
    
    # Calculate the mean difference between the two groups
    group1 = num_var[bin_var == 0]
    group2 = num_var[bin_var == 1]
    mean_diff = group2.mean() - group1.mean()
    
    # Calculate the sample sizes and sample variances of the two groups
    n1 = group1.shape[0]
    n2 = group2.shape[0]
    s2_1 = group1.var()
    s2_2 = group2.var()
    
    # Check if HOV is violated, and conduct Welch's t-test if it is:
    if (s2_1/s2_2 > 4) or (s2_1/s2_2 < 1/4):

        # degree of freedom
        DF = ((s2_1/n1 + s2_2/n2)**2) / ((1/(n1**(-1)))*((s2_1/n1)**2) + (1/(n2**(-1)))*((s2_2/n2)**2))
        
        # Calculate the standard error of the mean difference
        t_statistic = mean_diff / np.sqrt((s2_1/n1)+(s2_2/n2))
        
        # assign the method value to the method variable
        method = "Welch's t-test"
        
        print("The homogeneity of variance assumption was violated, so Welch's t-test was conducted")
    
    
    else:
    
        # Calculate the degrees of freedom (DF)
        DF = n1 + n2 - 2
    
        # Calculate the pooled standard deviation (sp)
        sp = np.sqrt(((n1 - 1) * s2_1 + (n2 - 1) * s2_2) / DF)
    
        # Calculate the standard error of the mean difference
        SE_mean_diff = sp * np.sqrt(1/n1 + 1/n2)
    
        # Calculate the t-statistic
        t_statistic = mean_diff / SE_mean_diff
        
        # Calculate the t-statistic
        t_statistic = mean_diff / SE_mean_diff
        
        # Calculate the p-value
        p_value = 2 * (1 - stats.t.cdf(np.abs(t_statistic), DF))
    
        # assign the method value to the method variable
        method = "Independent samples t-test"

        print("The homogeneity of variance assumption was not violated, so an independent samples t-test was conducted")
        
    # Put the results into a DataFrame
    results = pd.DataFrame({
        "Continuous Variable": [num_var.name],
        "Binary Variable": [bin_var.name],
        "Total Sample Size": [n1 + n2],
        "Mean Difference": [round(mean_diff, 2)], 
        "SE of Mean Difference": [round(SE_mean_diff, 2)],
        "DF": [DF],
        "t-statistic": [round(t_statistic, 3)],
        "P-value": [("%.3f" % p_value).lstrip('0')],
        'method':method
    })

    return results

##### 8. Import the GED data set we used for the class activity. Call the `t_test()` function and test it out on the GED data set we used in class. Let the numeric variable be 'income_log' and let the binary variable be 'ged'. <a class="anchor" id="bullet5"></a>

In [48]:
path = r"C:\Users\nicho\OneDrive\Desktop\MDS\QMSS-GR5072-Spring2025\Week 5\Activity"
dat = pd.read_csv(path + r"\3 ged_data.csv")
dat

,Unnamed: 0,STU_ID,SCH_ID,F3ERN2011,F3C02,F3EVRGED,F3EVERDO,BYMOTHED,BYS14,BYRACE,...,high_school_grad,ged,BYRACE2,Other,Asian,Black,Hispanic,White,post_sec_edu,income_log
0,2,101104,1011,37000,50,0,0,2,2,7,...,1,0,7,0,0,0,0,1,4,10.518673
1,5,101107,1011,35000,40,0,0,2,1,4,...,1,0,4,0,0,0,1,0,0,10.463103
2,7,101109,1011,68000,40,0,0,2,1,7,...,1,0,7,0,0,0,0,1,4,11.127263
3,10,101112,1011,18000,1,0,0,6,1,3,...,1,0,3,0,0,1,0,0,0,9.798127
4,18,101120,1011,1000,40,1,1,2,1,7,...,0,1,7,0,0,0,0,1,0,6.907755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5971,16179,461202,4612,20000,38,0,1,1,2,5,...,0,0,4,0,0,0,1,0,0,9.903488
5972,16181,461205,4612,100,6,0,1,2,2,5,...,0,0,4,0,0,0,1,0,0,4.605170
5973,16182,461207,4612,29000,40,0,0,3,2,5,...,1,0,4,0,0,0,1,0,2,10.275051
5974,16185,461214,4612,15000,44,0,1,2,1,5,...,0,0,4,0,0,0,1,0,0,9.615805
5975,16193,461231,4612,7000,30,0,1,2,2,4,...,0,0,4,0,0,0,1,0,0,8.853665

In [50]:
t_test( dat['income_log'], dat['ged'])

The homogeneity of variance assumption was not violated, so an independent samples t-test was conducted

,Continuous Variable,Binary Variable,Total Sample Size,Mean Difference,SE of Mean Difference,DF,t-statistic,P-value,method
0,income_log,ged,5976,-0.48,0.06,5974,-7.458,.000,Independent samples t-test